<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
  <ion-item>
    <ion-label>Minimo de elementos </ion-label>
    <ion-input  placeholder=".." formControlName="number" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Maximo de elementos </ion-label>
    <ion-input placeholder=".." formControlName="number" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Incremento </ion-label>
    <ion-input placeholder=".." formControlName="number" type="text"></ion-input>
  </ion-item>
</form>
  <ion-list>
    <ion-item>
      <ion-select placeholder="Algoritmo">
        <ion-select-option *ngFor="let option of optionEnum | keyvalue" [value]="option.key">{{ option.value }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button (click)="submitForm()" type="submit" class="button1"> Enviar </ion-button>
  <ion-button class="button2" [disabled]="true">Pausar</ion-button>
</ion-content>
