ion-content {
    .button1 {
        margin-left: 20%;
        margin-top: 5%;
    }

    .button2 {
        margin-left: 2%;
        margin-top: 5%;
    }

    ion-list {
        width: 60%;
        margin-top: 3%;
        margin-left: 20%;
    }
   ion-item {
        width: 60%;
        margin-top: 3%;
        margin-left: 20%;
   }
}