<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Request Sorting
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
  <ion-item class="primero">
    <ion-label>Min Elements: </ion-label>
    <ion-input formControlName="minElements" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Max Elements: </ion-label>
    <ion-input formControlName="maxElements" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Increment: </ion-label>
    <ion-input formControlName="increment" type="number"></ion-input>
  </ion-item>
</form>
  <ion-list>
    <ion-item class="none">
      <ion-select placeholder="Algorithm">
        <ion-select-option *ngFor="let option of optionEnum | keyvalue" [value]="option.key">{{ option.value }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button (click)="submitForm()" type="submit" class="button1"> Submit </ion-button>
</ion-content>
